<%- include('/partials/header', {
  domain: 'Components',
  id: 'list-groups',
  page: 'List Groups',
  noContentPadding: true,
}) %>

<div class="row">
  <div class="col-12 background-light-grey pt-3">
    <ul class="raul-nav nav nav-tabs raul-nav-underline" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          href="#html-version"
          role="tab"
          data-toggle="tab"
          aria-expanded="true"
        >
          HTML version
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="raul-tab-content tab-content mt-3">
  <div role="tabpanel" class="tab-pane active" id="html-version">
    <%
      [
        {title: 'Single Select with Labels', partial: 'list-group-single-select'},
        {title: 'Single Select without Labels', partial: 'list-group-single-select-no-labels'},
        {title: 'Multi Select with Labels', partial: 'list-group-multi-select'},
        {title: 'Multi Select without Labels', partial: 'list-group-multi-select-no-labels'},
        {title: 'Toggle Select with Labels', partial: 'list-group-toggle-select'},
        {title: 'Toggle Select without Labels', partial: 'toggle-select-no-labels'},
        {
          title: 'Single Select without Labels - Optional Layout',
          partial: 'list-single-select-optional-layout'
        },
        {
          title: 'Multi Select without Labels - Optional Layout',
          partial: 'list-multi-select-optional-layout'
        },
        {
          title: 'Toggle Select without Labels - Optional Layout',
          partial: 'list-toggle-select-optional-layout'
        },
      ].forEach((section) => {
        const title = `List group ${section.title}`
        const partial = `/components/partials/list-groups/html/${section.partial}`
    %>
      <h2 class="mb-3"><%= title %></h2>

      <div class="raul-card">
        <%- include(partial) %>
      </div>

      <div class="raul-card mb-5 p-0">
        <pre class="mb-0"><code class="language-html"><%=
          include(partial)
        %></code></pre>
      </div>
    <% }) %>
  </div>
</div>

<%- include('/partials/footer') %>
